@tailwind components;
@tailwind utilities;
@tailwind base;

@layer utilities {
    .cell { @apply relative overflow-hidden flex flex-col justify-between items-center w-full h-full rounded-lg shadow-md p-2; }
}

body, html {
    overflow: none;
}
   
* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}